<div class="mx-auto max-w-screen-xl px-6 lg:px-8 relative">
  <div class="relative flex h-16 space-x-10 w-full items-center">
    <div class="flex justify-start">
      <a class="flex flex-shrink-0 items-center" href="/">
        <img src="/assets/Healware_1.svg" class="block h-10 w-auto" height="32" />
      </a>
      <p class="flex flex-shrink-0 items-center">
        <span class="font-bold">HEAL</span>
        <span>WARE</span>
      </p>
    </div>

    <div class="flex-1"></div>

    <div
      class="user-profile"
      routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <div class="user-profile-inner">
        <p>
          <a routerLink="/signup">
            <span style="color: black">Sign-Up as </span>
            <span style="color: #00b500">Doctor /Patient</span>
          </a>
        </p>
      </div>
    </div>

    <div
      class="user-profile"
      routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <div class="user-profile-inner">
        <p>
          <a routerLink="/login">
            <span style="color: black">Sign-In as </span>
            <span style="color: #00b500">Doctor /Patient</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>