.user-profile {
  width: 200px; /* Increased width to fit full text */
  height: 51px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profile:hover {
  background-color: rgba(0, 181, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 181, 0, 0.5);
  outline: none;
}

.user-profile-inner {
  width: 196px;
  height: 47px;
  border-radius: 13px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: black;
  
}

.user-profile-inner svg {
  width: 27px;
  height: 27px;
  fill: #00B500;
}

.user-profile-inner p {
  margin: 0;
}

.user-profile-inner p span.green {
  color: #00B500;
}

.router-link-active {
   background-color: rgba(0, 181, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 181, 0, 0.5);
  outline: none;
}